<nav class="flex h-[3rem] mx-auto text-white bg-black justify-center rounded-sm bg-opacity-75 sticky top-0">
    
    <h1 class="
    px-6
    flex
    items-center
    ">
    <span class="
    rounded-md
    font-Medium
    font-mono
    text-2xl
    tracking-wide
    ">LearningSite</span></h1>

    <a href="#" class="
    px-4
    flex
    items-center
    ">
    <span class="
    p-[0.3rem]
    rounded-md
    hover:bg-blue-400/50
    ">Matches</span></a>

    <a href="#" class="
    px-4
    flex
    items-center
    ">
    <span class="
    p-[0.3rem]
    rounded-md
    hover:bg-blue-400/50
    ">Lists</span></a>

    <a href="#" class="
    px-4
    flex
    items-center
    ">
    <span class="
    p-[0.3rem]
    rounded-md
    hover:bg-blue-400/50
    ">Messages</span></a>
  

    
    <div class="
    h-auto 
    flex 
    items-center">
        <button class="
        p-[0.2rem]
        mx-2
        rounded-md
        ring-2
        ring-blue-400
        hover:bg-blue-400/50
        ">
            Log in
        </button>
        <input class="
        px-6
        h-[2rem]
        items-center 
        rounded
        border
        border-gray-400 
        bg-gray-200 
        focus:bg-white 
        text-gray-900 
        hover:bg-white
        hover:rounded-sm
        hover:border-white 
        hover:ring-2 
        hover:ring-blue-400
        hover:rounded
        focus:outline-none 
        focus:border-white
        focus:ring-2
        focus:ring-blue-400
        focus:rounded" 
        placeholder="UserName">

        <input class="
        px-6
        h-[2rem]
        items-center 
        rounded
        border
        border-gray-400 
        bg-gray-200 
        focus:bg-white 
        text-gray-900 
        hover:bg-white
        hover:rounded-sm
        hover:border-white 
        hover:ring-2 
        hover:ring-blue-400
        hover:rounded
        focus:outline-none 
        focus:border-white
        focus:ring-2
        focus:ring-blue-400
        focus:rounded
        ml-1.5" 
        placeholder="Password" type="password">
    </div>

    <div class="px-6 text-base font-Medium place-content-center">
        <p class="">
           <span class="text-sm pr-1.5">Local: </span>{{estTime}}
        </p>

        <p class="">
           <span class="text-sm pr-3">UTC: </span>{{utcTime}}
        </p>
    
    </div>

</nav>